@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap'); /*UBUNTU*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); /*POOPPINS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body {
    overflow-x: hidden;
}
/*LOADER*/
.loading {
    position: fixed;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
    -o-animation: fadeOut 1s;
    -o-animation-fill-mode: forwards;
    -moz-animation: fadeOut 1s;
    -moz-animation-fill-mode: forwards;
}
.loading .main {
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}
.dot {
    border: 5px solid #000;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.dot2 {
    border: 5px solid #104088fc;
    border-radius: 50px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: -5px -5px;
    border-left-color: transparent;
    border-top-color: transparent;
    animation: loader 1s linear;
    animation-iteration-count: infinite;
    -webkit-animation: loader 1s linear;
    -webkit-animation-iteration-count: infinite;
    -o-animation: loader 1s linear;
    -o-animation-iteration-count: infinite;
    -moz-animation: loader 1s linear;
    -moz-animation-iteration-count: infinite;
}
@keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes fadeOut {
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
/*SCROLL BAR*/

::-webkit-scrollbar{
    width: 4px!important;
}
::-webkit-scrollbar-thumb{
    background-color: #104088fc!important;
    border-radius: 50px!important;
}
::-webkit-scrollbar-track{
    background-color: #000;
}

html{
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*NAVBAR STYLING*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index: 999;
}
.navbar.sticky {
    padding: 18px 0;
    background: #104088fc;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: #104088fc;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: #104088fc;
}
.navbar.sticky .menu li a:hover {
    color: #fff;
}

/*MENU BTN STYLING*/
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #104088fc;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/**HOME SECTION**/
.home {
    display: flex;
    background: url(../images/pexels-cottonbro-4069293.jpg) no-repeat;
    height: 40rem;
    background-attachment: fixed;
    color: #fff;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
}
.home .max-width .text-1 {
    font-size: 27px;
}
.home .max-width .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .max-width .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .max-width .text-3 span {
    color: #104088fc;
    font-weight: 500;
}
.home .home-content a {
    display: inline-block;
    background-color: #104088fc;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #104088fc;
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    color: #104088fc;
    background: none;
}
/*all similar content styling code*/
section {
    padding: 100px 0;
}
.about, .services, .skills, .portfolio, .contact, footer {
    font-family:'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.portfolio .portfolio-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: #104088fc;
    background: #fff;
    transform: translateX(-50%);
}
/*ABOUT SECTION*/
.about .title::after {
    content: "who i am";
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    border-radius: 6px;
    object-fit: cover;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span {
    color: #104088fc;
}
.about .about-content .right p {
    text-align: justify;
    font-size: 19px;
}
.about .about-content .right a {
    display: inline-block;
    background-color: #104088fc;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #104088fc;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover {
    background: none;
    color: #104088fc;
}
/*SERVICES STYLING*/
.services, .portfolio {
    color: #fff;
    background: #111;
}
.services .title::before,
.portfolio .title::before {
    background: #fff;
}
.services .title::after,
.portfolio .title::after {
    background: #111;
    content: "what i provide";
}
.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover {
    background: #104088fc;
}
.services .serv-content .card .box {
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
    transform: scale(1.05);
}
.services .serv-content .card i {
    font-size: 50px;
    color: #104088fc;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
    color: #fff;
}
.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/*SKILLS STYLING*/
.skills .title::after {
    content: "what i know";
}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p {
    text-align: justify;
}
.skills .skills-content .left a {
    display: inline-block;
    background-color: #104088fc;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #104088fc;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
    color: #104088fc;
    background: none;
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
}
.skills .skills-content .right .bars .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.skills .skills-content .right span {
    font-size: 18px;
    font-weight: 500;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background: #104088fc;
}
.skills .skills-content .right .html::before {
    width: 80%;
}
.skills .skills-content .right .css::before {
    width: 50%;
}
.skills .skills-content .right .js::before {
    width: 10%;
}
.skills .skills-content .right .php::before {
    width: 10%;
}
.skills .skills-content .right .mysql::before {
    width: 10%;
}
/*PORTFOLIO SECTION*/
.portfolio .title::after {
    content: "what did i do";
}
.portfolio {
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
}
.portfolio .portfolio-content .box {
    height: 13rem;
    width: 18rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem #222;
    margin: 1rem 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-content .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolio .portfolio-content .box a button {
    position: absolute;
    top: 85%; 
    left: 50%;
    transform: translate(-50%, -15%);
    height: 2rem;
    width: 7rem;
    z-index: 1;
    background: #222;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Ubuntu' sans-serif;
    border: none;
    border-radius: 30px;
}
.portfolio .portfolio-content .box a button:hover {
    background: #111;
    cursor: pointer;
}
.portfolio .portfolio-content .box:hover button {
    top: 40%;
    transform: translate(-50%, 10%);
}
.portfolio .portfolio-content .box:hover img {
    filter: blur(.3rem);
    transform: scale(1.2);
    transition: all 0.2s ease;
}
/*CONTACT SECTION*/
.contact .title::after {
    content: "get in touch";
}
.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p {
    text-align: justify;
}
.contact .contact-content .left .icons {
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info {
    margin-left: 30px;
}
.contact .contact-content .row i {
    color: #104088fc;
    font-size: 25px;
}
.contact .contact-content .info .head {
    font-weight: 500;
}
.contact .contact-content .info .sub-title {
    color: #333;
}
.contact .right form .fields {
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea {
    height: 80px;
    width: 100%;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .email {
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}
.contact .right form .button {
    height: 47px;
    width: 170px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #104088fc;
    background: #104088fc;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover {
    color: #104088fc;
    background: none;
}
footer {
    background: #111;
    padding: 20px 25px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
footer span a {
    color: #104088fc;
    text-decoration: none;
}
footer span a i {
    color: #fff;
    text-align: center;
    padding: 0 3px;
    font-size: 24px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
footer span a i:hover {
    background: none;
    color: #104088fc;
}







/*responsive media query*/
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0;
    }
}
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .max-width .text-2 {
        font-size: 70px;
    }
    .home .max-width .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .max-width .text-2 {
        font-size: 60px;
    }
    .home .max-width .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%
    }
    .portfolio .portfolio-content {
        justify-content: space-around;
    }
}

@media (max-width: 500px) {
    .home {
        background-position: center;
    }
    .home .max-width .text-2 {
        font-size: 50px;
    }
    .home .max-width .text-3 {
        font-size: 27px;
    }
    .portfolio .portfolio-content {
        justify-content: space-around;
    }
}

@media (max-width: 330px) {
    section .title::after {
        padding: 1px;
    }
    .portfolio .portfolio-content .box {
        width: 16rem;
    }
}